{# src\Devschool\BiblioBundle\Resources\views\Cinéma\show.html.twig #}
{% extends 'DevschoolBiblioBundle::layout.html.twig' %}

{% block title %}{{ film.titre }}{% endblock %}

{% block body %}
    <h1>{{ film.titre }}</h1>
    <span>({{ film.genre.nom }})</span><br />
    <br />
    <span>Auteur: {{ film.auteur }}</span><br />
    <br />
    <span>Sortie le: {{ film.dateParution|date('d/m/Y') }}</span>

    <p>{{ film.description }}</p>

    <span>Realisateur : {{ film.realisateur }}</span>


    <p><a href="{{ path('page_livres') }}">Retour</a></p>
{% endblock %}